---
---

@import "{{ site.theme }}";

.inner {
  a {
    h1 {
      &:after {
        content: "";
        background-image: url('https://raw.githubusercontent.com/raibtoffoletto/litteris/master/data/icons/com.github.raibtoffoletto.litteris.svg');
        background-size: 1.5em 1.5em;
        display: inline-block;
        width: 1.5em;
        height: 1.5em;
        background-repeat: no-repeat;
      }
    }
  }
}

.appcenter {
  a {
    display: block;
    text-align: center;

    img {
      width: 50%;
    }
  }
}
